/dist/
/downloads/
/build/
/eclipse/
LICENSE
*.txt
/.gradle/
/bin
/.settings/
/config/
/stats/
/.classpath
/.project
/*.log
/.log.lck
/*.lck
/crash-reports/
/saves/
/ForgeModLoader*
*.iml
*.ipr
*.iws
*~
run/
